@{
    Layout.Title = T("Management Console").ToString();
    Script.Require("PS_Console").AtFoot();
    Style.Require("PS_Console");
}

<script type="text/javascript">
    appRoot = "/";
</script>
<div id="Console" class="left-aligned"></div>
